extends layout 

block content 

    if currentUser 
        p.greeting Hello, #{currentUser.username}!

        if articles
            h1.articles-title Articles
            section.articles.drafts 
                h2 Drafts:
                ul.article-list
                    each article in articles 
                        if !article.published
                            li.edit-link
                                a(href=('/admin/edit/' + article.id)) #{article.title}
                                if article.author.name !== ''
                                    |  [#{article.author.name}, #{article.date}]
            section.articles.published
                h2 Published:
                ul.article-list
                    each article in articles 
                        if article.published
                            li.edit-link
                                a(href=('/admin/edit/' + article.id)) #{article.title}
                                if article.author.name !== ''
                                    |  [#{article.author.name}, #{article.date}]
        else 
            h2 No articles to display.

    else 
        h1 Please 
            a(href='/admin') log in
            |  to access the admin dashboard.